MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=ecommerce
MYSQL_USER=root
MYSQL_PASSWORD=change_me

# Google Cloud Storage raw landing configuration
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-globally-unique-bucket-name
GCS_RAW_PREFIX=raw/ecommerce
BQ_BRONZE_DATASET=rajwardhan_bronze
BQ_LOCATION=us-central1
